.frame-box {
   position: absolute;
   display: grid;
   inset: 0;
   transform-style: preserve-3d;
   transition: var(--transition), opacity .75s ease;
   will-change: transform;
   place-items: center;

   &_bg-clr {
      isolation: isolate;

      &::after {
         position: absolute;
         z-index: -1;
         display: block;
         background-color: var(--clr-bg-dark);
         opacity: 0.80;
         content: "";
         inset: 0;
      }
   }

   &__masked-screen {
      position: absolute;
      width: calc(var(--viewport-size-index) * 300);
      height: calc(var(--viewport-size-index) * 300);
      background-color: #000;
      background-image: url("@img/INFINITY-copy.svg");
      background-repeat: no-repeat;
      background-position: 49% 50%;
      background-size: 15%;
      transform-style: preserve-3d;
      -webkit-mask-image: linear-gradient(#000 0 0), url("@img/INFINITY.svg");
      -webkit-mask-size: 100%, 15%;
      -webkit-mask-position: 49% 50%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-composite: xor;
      mask-image: linear-gradient(#000 0 0), url("@img/INFINITY.svg");
      mask-size: 100%, 15%;
      mask-position: 50%;
      mask-repeat: no-repeat;
      mask-composite: exclude;
   }

   // &_pointer {
   //    pointer-events: none;
   // }

   &__content {
      position: relative;
      width: calc(var(--viewport-size-index) * var(--small-size-index));
      height: calc(var(--viewport-size-index) * var(--big-size-index));

      &_left {
         right: calc(var(--small-size-index) / 2 * var(--viewport-size-index) + var(--shift));
      }

      &_right {
         left: calc(var(--small-size-index) / 2 * var(--viewport-size-index) + var(--shift));
      }

      &_horizontal {
         width: calc(var(--viewport-size-index) * var(--big-size-index));
         height: calc(var(--viewport-size-index) * var(--small-size-index));

         &_left {
            right: calc(var(--big-size-index) / 2 * var(--viewport-size-index) + var(--shift));
         }

         &_right {
            left: calc(var(--big-size-index) / 2 * var(--viewport-size-index) + var(--shift));
         }
      }

      & picture {
         display: block;
         width: 100%;
         height: 100%;

         & img {
            width: inherit;
            height: inherit;
            object-fit: cover;
         }
      }
   }

   &__text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      &_left {
         padding-left: 7vw;
      }
   }
}