.page-header {
   position: fixed;
   z-index: 10000;
   min-width: 100%;
   padding-inline: var(--viewport-size-index);
   padding-top: 0;
   background-color: transparent;
   transform-style: preserve-3d;

   &__content {
      display: grid;
   }

   &__logo {
      grid-area: 1/-1;
      align-self: center;
      justify-self: start;
      margin-left: var(--viewport-size-index);
   }

   &__nav {
      grid-area: 1/-1;
      align-self: center;
   }

   &__button {
      grid-area: 1/-1;
      align-self: center;
      justify-self: end;
      margin-right: var(--viewport-size-index);
   }
}

.logo {
   z-index: 1;

   &__link {
      color: var(--clr-black);
      font-weight: 300;
      font-size: 20px;
      font-family: var(--font-raleway);
      letter-spacing: 0.2em;
      text-transform: uppercase;

      & span {
         color: var(--clr-accent);
         font-weight: 700;
      }
   }
}


.main-nav {
   background-image:
      // --clr-font-white
      linear-gradient(to top,
         hsl(0deg 0% 95% / 0%) 0%,
         hsl(0deg 0% 95% / 18.7%) 0.3%,
         hsl(0deg 0% 95% / 34.9%) 1.3%,
         hsl(0deg 0% 95% / 48.8%) 3%,
         hsl(0deg 0% 95% / 60.6%) 5.5%,
         hsl(0deg 0% 95% / 70.4%) 8.8%,
         hsl(0deg 0% 95% / 78.4%) 13%,
         hsl(0deg 0% 95% / 84.8%) 18.2%,
         hsl(0deg 0% 95% / 89.8%) 24.3%,
         hsl(0deg 0% 95% / 93.6%) 31.5%,
         hsl(0deg 0% 95% / 96.3%) 39.9%,
         hsl(0deg 0% 95% / 98.1%) 49.3%,
         hsl(0deg 0% 95% / 99.2%) 60%,
         hsl(0deg 0% 95% / 99.8%) 72%,
         hsl(0deg 0% 95%) 85.3%,
         hsl(0deg 0% 95%) 100%);
   border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px;
   transform-style: preserve-3d;
   padding-inline: 50px;

   &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 7vw;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 8px 0;
   }

   &__item {
      width: max-content;

      @include hover {
         &:hover a {
            color: var(--clr-accent);
         }
      }

      & a {
         display: block;
         padding: 5px;
         color: var(--clr-black);
         font-weight: 300;
         font-size: calc(var(--viewport-size-index) * 0.63);
         font-family: var(--font-roboto);
         letter-spacing: 0.05em;
         text-transform: uppercase;
         transition: color var(--transition);
      }
   }
}

.menu-button {
   position: relative;
   display: grid;
   place-items: center;
   width: 30px;
   height: 14px;
   background: transparent;
   border: none;

   &::before,
   &::after {
      position: absolute;
      left: 0;
      width: 25px;
      height: 2px;
      background: var(--clr-black);
      backface-visibility: hidden;
      transition: top 0.85s, transform 0.85s, box-shadow 0.85s;
      content: "";
   }

   &::before {
      top: 0;
      box-shadow: #000 0 6px 0 0;
   }

   &::after {
      top: calc(100% - 2px);
   }

   &:hover {
      &::before {
         top: 50%;
         box-shadow: transparent 0 0 0 0;
         transform: rotate(225deg);
      }

      &::after {
         top: 50%;
         transform: rotate(315deg);
      }
   }

}
