.portfolio-gallery {
   position: relative;
   isolation: isolate;

   &__text {
      position: absolute;
      inset: 0;
      top: calc(50% - calc(var(--viewport-size-index) * 3));
      z-index: -10;
      color: var(--clr-font-white);
      font-weight: 300;
      font-size: calc(var(--viewport-size-index) * 1);
      font-family: var(--font-raleway);
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
      opacity: var(--_text-opacity, 0);
      transition: opacity 1s;
      user-select: none;
      pointer-events: none;
   }
}

.portfolio-list {
   position: absolute;
   display: grid;
   grid-template-columns: repeat(8, 15vw);
   gap: 5vw;
   width: calc(var(--viewport-size-index) * 150);
   height: calc(var(--viewport-size-index) * 150);
   padding: 5vw;
   transition: transform 1s cubic-bezier(.075, .5, 0, 1);
   will-change: transform;
   place-content: center;

   @media (width <=600px) {
      grid-template-columns: repeat(8, 40vw);
   }
}

.images-box {
   display: grid;
   row-gap: 5vw;

   &__item {
      display: grid;
      overflow: hidden;
      transition: transform .5s ease;

      &>div,
      &>picture {
         grid-area: 1/-1;
      }

      &>div {
         align-self: end;
         order: 1;
      }

      & img {
         width: 100%;
         border-radius: 5px;
      }

      &:hover {
         --_translate-active: 0;

         transform: scale(1.05);

      }
   }

   &__text-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-height: 90%;
      padding: 20px 10px 30px;
      color: var(--clr-font-white);
      font-family: var(--font-roboto);
      line-height: 1.25;
      background-color: var(--clr-bg-dark-opacity);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      transform: translateY(var(--_translate-active, 100%));
      transition: transform .5s ease;

      &>h3 {
         font-weight: 300;
         font-size: max(18px, calc(var(--viewport-size-index) * 0.8));
      }

      &>a {
         position: relative;
         display: block;
         margin-top: auto;
         padding: 15px 5px;
         padding-left: 0;
         color: inherit;
         font-size: max(14px, calc(var(--viewport-size-index) * 0.7));
         background: linear-gradient(var(--clr-font-white) 0 0) left bottom/50% 1px no-repeat;
         transition: background 0.5s ease;

         @include hover {
            &:hover {
               background-size: 100% 1px;
            }
         }
      }
   }
}
