html {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

html::-webkit-scrollbar {
   display: none;
}

body {
   height: var(--z-depth);
   color: var(--clr-font-white);
   background-color: var(--clr-bg-dark);
}

.main-hidden {
   opacity: 0;
   transition: opacity var(--transition);
}

.container {
   position: fixed;
   inset: 0;
   perspective: 1500px;
}

.main-gallery {
   position: absolute;
   inset: 0;
   transform-style: preserve-3d;

   & section {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      inset: 0;
      transform-style: preserve-3d;
   }
}

.page-title {
   width: min-content;
   color: var(--clr-font-white);
   font-weight: 100;
   font-size: max(24px, calc(var(--viewport-size-index) * 3.3));
   font-family: var(--font-raleway);
   line-height: 1.2;
   text-align: center;
   text-transform: uppercase;

   &>span {
      display: block;
      font-size: calc(var(--viewport-size-index) * 0.7);
      text-align: right;
   }
}

.section-title {
   width: min-content;
   margin-bottom: 3vh;
   color: var(--clr-font-white);
   font-weight: 100;
   font-size: calc(var(--viewport-size-index) * 3);
   font-family: var(--font-raleway);
   line-height: 1.2;
   text-align: left;
   text-transform: uppercase;

   &_left {
      text-align: right;
   }
}

.text {
   max-width: 30vw;
   margin-bottom: 3vh;
   color: var(--clr-font-white);
   font-weight: 300;
   font-size: max(18px, calc(var(--viewport-size-index) * 0.8));
   font-family: var(--font-raleway);
   line-height: 1.75;

   @media (orientation: portrait) and (width<=768px) {
      max-width: 60vw;
   }

   &_left {
      text-align: right;
   }
}

.loader {
   position: fixed;
   z-index: 10000;
   display: grid;
   inset: 0;
   place-content: center;

   &::before {
      grid-area: 1/-1;
      width: 50px;
      height: 50px;
      background-color: var(--clr-font-white);
      border-radius: 50%;
      animation: loader 1.5s infinite ease-in-out;
      content: "";
   }

   &::after {
      grid-area: 1/-1;
      align-self: center;
      color: var(--clr-font-white);
      font-weight: 300;
      font-size: 10px;
      font-family: var(--font-raleway);
      text-align: center;
      text-transform: uppercase;
      mix-blend-mode: difference;
      content: "loading";
   }
}

@keyframes loader {
   from {
      transform: scale(0);
      opacity: 1;
   }

   to {
      transform: scale(2);
      opacity: 0;
   }
}
