@font-face {
   font-weight: 300;
   font-family: Raleway;
   font-style: normal;
   src: url("../fonts/raleway-light.woff2")format("woff2"), url("../fonts/raleway-light.woff")format("woff");
   font-display: swap;
}

@font-face {
   font-weight: 100;
   font-family: Raleway;
   font-style: normal;
   src: url("../fonts/raleway-thin.woff2")format("woff2"), url("../fonts/raleway-thin.woff")format("woff");
   font-display: swap;
}

@font-face {
   font-weight: 300;
   font-family: Roboto;
   font-style: normal;
   src: url("../fonts/roboto-light.woff2")format("woff2"), url("../fonts/roboto-light.woff")format("woff");
   font-display: swap;
}

@font-face {
   font-weight: 400;
   font-family: Roboto;
   font-style: normal;
   src: url("../fonts/roboto-regular.woff2")format("woff2"), url("../fonts/roboto-regular.woff")format("woff");
   font-display: swap;
}

@font-face {
   font-weight: 100;
   font-family: Roboto;
   font-style: normal;
   src: url("../fonts/roboto-thin.woff2")format("woff2"), url("../fonts/roboto-thin.woff")format("woff");
   font-display: swap;
}
