html :where(*) {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

*::before,
*::after {
   box-sizing: inherit;
}

a {
   text-decoration: none;
}

img,
picture {
   max-width: 100%;
   height: auto;
}

picture > img {
   margin-inline: auto;
}

input,
button,
textarea,
select {
   font-family: inherit;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   white-space: nowrap;
   border: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(100%);
}

.list-reset {
   margin: 0;
   padding: 0;
   list-style: none;
}

.hidden {
   display: none;
}
