:root {
   // system
   --viewport-size-index: calc(1vw + 1vh);
   --shift: 20px;
   --small-size-index: 26;
   --big-size-index: 36;
   --transition: .75s cubic-bezier(.075, .5, 0, 1);

   @media (width <=768px) {
      --shift: 5px;
   }

   // colors
   --clr-bg-dark: #050505;
   --clr-bg-dark-opacity: hsl(0deg 0% 2% / 80%);
   --clr-black: #000;
   --clr-accent: #685842;
   --clr-font-white: #f1f1f1;


   // fonts
   --font-raleway: "Raleway",
   arial,
   sans-serif;
   --font-roboto: "Roboto",
   arial,
   sans-serif;
}